{% extends 'base.html' %}
{% load static %}



{% block title %}

   {{ title }}

{% endblock title %}


{% block nav %}

    {% for x in page_list %}
        <li style="display: inline-block;">
        <a href="{{ x.permalink }}"> {{ x.title }}</a>
        </li>
    {% endfor %}

{% endblock nav %}



{% block content %}

    <div class="container" style="margin-top: 70px">

    <div class="row">

        <div class="col-md-offset-3 col-md-7">

            <h1 style="font-size: 40px">

                Our mission is to <font color="blue">organise</font> the world’s<font color="red"> information</font> and make it
                <font color="green">universally accessible</font> and <font color="#FFA22D">useful.</font>

            </h1>

        </div>

    </div>

    </div>

    <div class="container" style="margin-top: 100px">

    <div class="row">

        <div class="col-md-offset-1 col-md-4">

            <a href="https://www.youtube.com/watch?v=6aFdEhEZQjE#_ga=2.266880910.1823477706.1546073958-706379580.1537439720">
     <img src="{% static  'images/see.png' %}" alt="">

           </a>
        </div>
    </div>
    </div>

    <div class="container" style="margin-top: 100px">

    <div class="row">

        <div class="col-md-offset-1 col-md-4">

            <a href="/services/">
     <img src="{% static  'images/pro.png' %}" alt="">

           </a>
        </div>
    </div>
    </div>

{% endblock content %}


{% block update %}

    <center>

<p style="margin-top: 50px">
 <font color="#d3d3d3"> Page last updated: {{ last_updated|date:'D d F Y' }} </font>
</p>
    </center>

{% endblock update %}











